body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
header {
    display: flex;
    height: 70px;
    background-color: bisque;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.titulo {
    display: flex;
}
#xD a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav a{
    text-decoration: none;
}
.cita {
    font-size: 10px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
#lados {
    color: rgb(0, 187, 255);
}
#Angulos {
    color: rgb(0, 187, 19);
}
.redirect1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}
#tx2 {
    display: flex;
    margin-left: 0;
}
#tx3 {
    color: blue;
}
.redirect2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}
#tx4 {
    display: flex;
    margin-left: 10px;
}
#tx6 {
    color: blue;
}
.redirect3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}
#tx7 {
    display: flex;
    margin-left: 0;
}
#tx9 {
    color: blue;
}
.redirect4 {
    display: flex;
    align-items: center;
}
#tx10 {
    display: flex;
    margin-left: 0;
}
#tx12 {
    color: black;
    margin-left: 5px;
}
