.redirect1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}
#tx2 {
    display: flex;
    margin-left: 1px;
}
#tx3 {
    color: blue;
}
nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}